* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #217d94;
  background-position: center;
  background-size: cover;
  color: #fdfdfd;
}

button {
  background-color: #217d94;
  color: #102f5e;
  border: 2px solid #fdfdfd;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #102f5e;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
  color: #fdfdfd;
  font-weight: bold;
  border-radius: 30px;
}

input,
select {
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 30px;
  border-color: #fdfdfd;
}

.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  margin: 2rem auto;
  padding: 1.5rem;
  max-width: 1200px;
  width: 100%;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.grid-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
  display: flex;
  flex-direction: column;
  color: #fdfdfd;
}

.full-width {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #fdfdfd;
  border-radius: 30px;
}

/* Todo Toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
  width: 100%;
}

#search {
  flex: 1;
  padding-right: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
  flex-wrap: wrap;
}

.todo h3 {
  flex-basis: 100%;
  font-size: 1rem;
}

.todo p {
  flex-basis: 100%;
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.todo .buttons {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  margin-top: 0.5rem;
}

.todo button {
  margin-left: 0.4rem;
}

.due-soon {
  background-color: #f0e053;
}

.overdue {
  background-color: #d63333;
}

.done {
  background: #395169;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}

@media (max-width: 768px) {
  .todo-container {
    padding: 1rem;
  }

  .grid-container {
    padding: 10px;
    gap: 10px;
  }

  .full-width {
    grid-column: span 1;
  }

  #toolbar {
    flex-direction: column;
  }

  #toolbar h4 {
    margin-bottom: 1rem;
  }

  #search,
  #filter {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #search form {
    flex-direction: column;
  }

  #search input {
    margin-bottom: 0.5rem;
  }

  .todo h3 {
    font-size: 0.9rem;
  }

  .todo p {
    font-size: 0.8rem;
  }
}
